@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.odd-sec {
  background-color: #4b88fe;
  padding: 10px;
}

.even-sec {
  background-color: #fbfaff;
  padding: 10px;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}
